body {
  background: linear-gradient(90deg, rgb(250, 121, 184), rgb(250, 199, 111));
  /* margin-top: 50px; */
}

table {
  background: linear-gradient(0deg, rgb(109, 0, 167), rgb(181, 0, 255));
  margin: 0 auto;
  /* 中央寄せ */
  width: 360px;
  height: 600px;
  border-collapse: collapse;
  /*セル同士の間に隙間を空けない*/
  border-spacing: 0px;
}

td {
  width: 8%;
  /* 横10マス */
  height: 5%;
  /* 縦20マス */
}

table.mini {
  background: linear-gradient(0deg, rgb(255, 0, 0, 0), rgb(255, 230, 0, 0));
  /* background-color: rgb(14, 117, 29); */
  margin: 10px auto;
  width: 80px;
  height: 40px;
}

.mini td {
  /* background-color: rgb(14, 117, 29); */
  /* border-radius: 1px; */
  border: 1px solid rgb(0, 0, 0);
}

table.stock {
  border-collapse: collapse;
  border-spacing: 0px;
  background: linear-gradient(0deg, rgb(255, 0, 0, 0), rgb(255, 230, 0, 0));
  
  
  
  position: absolute;
  margin: auto;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
}

.stock td {
  /* border-radius: 1px; */
  border: 1px solid rgb(0, 0, 0,0);
}

div {
  color:white;
  font-weight: bold;
  text-align: center;
  display: inline-block;
  float: left;
  position: relative;
}
p{
  margin-bottom: 0px;
}
div.stock {
  background: linear-gradient(45deg,  rgb(255, 60, 60),rgb(246, 156, 106));
  
  border-radius: 20px 0 0 20px;
  width: 100px;
  height: 200px;
  position: relative;
}

div.next {
  background: linear-gradient(0deg,  rgb(0, 110, 180),rgb(24, 202, 207));
  border-radius: 0 20px 20px 0;
  width: 100px;
  height: 300px;
  
  position: relative;
}

table.next {
  background: linear-gradient(0deg, rgb(255, 0, 0, 0), rgb(255, 230, 0, 0));
  /* background-color: rgb(14, 117, 29); */
  
}

.next td {
  /* background-color: rgb(14, 117, 29); */
  /* border-radius: 1px; */
  border: 0px solid rgb(0, 0, 0,0);
}
div.next-block{
  display: block;
  margin: 10px auto;

  width: 100%;
  /* background-color: red; */
}

.white-block{
  background-color: rgb(255, 255, 255);
  border-radius: 0px;
}
  
.outarea {
  background: linear-gradient(0deg, rgb(66, 0, 207), rgb(45, 4, 161));
  border-radius: 1px;
  position: relative;
  z-index: 99;
}
.light{
  display: block;
  width: 30px;
  height: 8px;
  /* background-color: red; */
  top: -8px;
  left: 0px;
  position: absolute;
  z-index: 0;
}
.curve {
  border-radius: 100px 25px 50px 50px;
}

.default {
  background-color: rgb(1, 0, 54, 0.75);
  border-radius: 6px;
  /* position: relative; */
}

.test {
  background-color: rgb(255, 0, 237);
}

.stick-top {
  background-color: #03A9F4;
  border-top: 8px solid #80D8FF;
  box-shadow: 10px 15px 0 rgb(0, 0, 0, 0.6);
  position: relative;
  z-index: 10;
}

.stick {
  background-color: #03A9F4;
  box-shadow: 10px 15px 0 rgb(0, 0, 0, 0.6);
  position: relative;
  z-index: 10;
}

.mountain-top {
  background-color: rgb(84, 22, 215);
  border-top: 8px solid rgb(108, 57, 215);
  box-shadow: 10px 15px 0 rgb(0, 0, 0, 0.6);
  position: relative;
  z-index: 10;
}

.mountain {
  background-color: rgb(84, 22, 215);
  box-shadow: 10px 15px 0 rgb(0, 0, 0, 0.6);
  position: relative;
  z-index: 10;
  
}

.square-top {
  background-color: rgb(185, 189, 3);
  border-top: 8px solid rgb(255, 253, 88);
  box-shadow: 10px 15px 0 rgb(0, 0, 0, 0.6);
  position: relative;
  z-index: 10;
}

.square {
  background-color: rgb(185, 189, 3);
  box-shadow: 10px 15px 0 rgb(0, 0, 0, 0.6);
  position: relative;
  z-index: 10;
}

.ano-l-top {
  background-color: rgb(204, 92, 0);
  border-top: 8px solid rgb(230, 138, 0);
  box-shadow: 10px 15px 0 rgb(0, 0, 0, 0.6);
  position: relative;
  z-index: 10;
}

.ano-l {
  background-color: rgb(204, 92, 0);
  box-shadow: 10px 15px 0 rgb(0, 0, 0, 0.6);
  position: relative;
  z-index: 10;
}

.l-top {
  background-color: rgb(37, 76, 152);
  border-top: 8px solid rgb(113, 173, 254);
  box-shadow: 10px 15px 0 rgb(0, 0, 0, 0.6);
  position: relative;
  z-index: 10;
}

.l {
  background-color: rgb(37, 76, 152);
  box-shadow: 10px 15px 0 rgb(0, 0, 0, 0.6);
  position: relative;
  z-index: 10;
}

.two-top {
  background-color: rgb(162, 5, 0);
  border-top: 8px solid rgb(251, 59, 59);
  box-shadow: 10px 15px 0 rgb(0, 0, 0, 0.6);
  position: relative;
  z-index: 10;
}

.two {
  background-color: rgb(162, 5, 0);
  box-shadow: 10px 15px 0 rgb(0, 0, 0, 0.6);
  position: relative;
  z-index: 10;
}

.s-top {
  background-color: rgb(0, 181, 2);
  border-top: 8px solid rgb(74, 255, 97);
  box-shadow: 10px 15px 0 rgb(0, 0, 0, 0.6);
  position: relative;
  z-index: 10;
}

.s {
  background-color: rgb(0, 181, 2);
  box-shadow: 10px 15px 0 rgb(0, 0, 0, 0.6);
  position: relative;
  z-index: 10;
}

.guide {
  background-color: rgba(145, 145, 145, 0.5);
  position: relative;
  z-index:100;
}

/* ストック */
div {
  display: inline-block;
}

.stick-top-light {
  border-top: 8px solid #80D8FF;
}
.mountain-top-light {
  border-top: 8px solid rgb(108, 57, 215);
}
.square-top-light {
  border-top: 8px solid rgb(255, 253, 88);
}
.ano-l-top-light{
  border-top: 8px solid rgb(230, 138, 0);
}
.l-top-light {
  border-top: 8px solid rgb(113, 173, 254);
}
.two-top-light {
  border-top: 8px solid rgb(251, 59, 59);
}
.s-top-light {
  border-top: 8px solid rgb(74, 255, 97);
}